<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:flow="http://www.springframework.org/schema/webflow-config"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:osgi="http://www.springframework.org/schema/osgi"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/webflow-config http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
          http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
          http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-1.2.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/micinemaarq" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
    <bean id="hibernateSessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>co/com/edu/udea/micine/model/Asiento.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Boleta.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Cine.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Combo.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/ComboHasFactura.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Factura.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Formato.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Funcion.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Localidad.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Operador.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Pelicula.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Reserva.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Sala.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Socio.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Tarifa.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Tarjeta.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Tipooperador.hbm.xml</value>
                <value>co/com/edu/udea/micine/model/Tipopago.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="operadorDAO" class="co.com.edu.udea.micine.DAO.impl.OperadorDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
    <bean id="cineDAO" class="co.com.edu.udea.micine.DAO.impl.CineDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
    <bean id="socioDAO" class="co.com.edu.udea.micine.DAO.impl.SocioDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
        <bean id="funcionDAO" class="co.com.edu.udea.micine.DAO.impl.FuncionDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
     <bean id="localidadDAO" class="co.com.edu.udea.micine.DAO.impl.LocalidadDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
    <bean id="asientoDAO" class="co.com.edu.udea.micine.DAO.impl.AsientoDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
    <bean id="peliculaDAO" class="co.com.edu.udea.micine.DAO.impl.PeliculaDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
     <bean id="salaDAO" class="co.com.edu.udea.micine.DAO.impl.SalaDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
    <bean id="tarifaDAO" class="co.com.edu.udea.micine.DAO.impl.TarifaDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
     <bean id="formatoDAO" class="co.com.edu.udea.micine.DAO.impl.FormatoDAOImpl">
        <property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
</beans>
